@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #376f86 20%, #27273c 80%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

#hh{
    font-size:70px;
    margin-left: 525px; 
    margin-bottom: 10px;
    color:rgba(255, 209, 209, 0.842)
}
#hh2{
    font-size:20px; 
    margin-left: 1025px; 
    margin-top: 5px; 
    color:rgba(255, 209, 209, 0.842)
}

.wrapper{
    margin-left: 525px;
    margin-top: 135px;
    margin-right: 0px;  
    height: 300px;
    width: 300px;
    position:relative;
    border: 5px solid rgb(211, 90, 147);
    border-radius: 50%;
    background-size: 100% 100%;
    overflow: hidden;
}
.my_file{
    position: absolute;
    bottom: 0;
    outline: none;
    color:transparent;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 120px;
    cursor: pointer;
    transition: 0.5s;
    background-color: rgb(211, 90, 147);;

}
.my_file::-webkit-file-upload-button{
    visibility: hidden;
}

#hh3{
    font-size:60px;
    font-weight:bold;
    margin-left: 150px; 
    color:rgba(216, 177, 177, 0.842)
}
#hh4{
    font-size:90px;
    font-weight:bold;
    margin-left: 350px; 
    color:rgba(216, 177, 177, 0.842)
}

.glow {
    font-size: 100px;
    color: #376f86;
    text-align: center;
    margin-left: 450px;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
 @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #27273c, 0 0 20px #27273c, 0 0 30px #27273c, 0 0 40px #27273c, 0 0 50px #27273c, 0 0 60px #27273c, 0 0 70px #27273c, 0 0 80px #27273c;
    }
    
    to {
      text-shadow: 0 0 20px #27273c, 0 0 30px #000000, 0 0 40px #000000, 0 0 50px #000000, 0 0 60px #000000, 0 0 70px #000000, 0 0 80px #000000, 0 0 90px #000000;
    }
  }