{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DFDimg</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    
    <div class="waveWrapper waveAnimation">
        <div class="waveWrapperInner bgTop">
          <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')">

            <div >
                <h1 id="hh">Real And Fake Face Detection</h1>
                <h1 id="hh2">Make your machine to knock your BRAIN</h1>
            </div>

            <form class="" action="" method="POST" enctype="multipart/form-data">
              {% csrf_token %}

            <table><tr><td>

            <div class="wrapper">
                <input type="file" name="img" class="my_file">
                    <!-- <img id="pic_profile" src="{% static 'xx.jpg'%}" alt="logo" width="300" height="300"> -->
                
            </div>
          </td>
          <td id="td2">
            <div>
              <h1 id="hh3">Here you go its-</h1>
              <!-- {% for i in pred %} -->
              <h1 class="glow">{{ args.pred }}</h1>
              <!-- {% endfor %} -->
            </div>
          </td>
          </tr></table>

          <div>
            <button  type="submit" id="btn3" name="btn3" style="margin-left: 635px; margin-top:30px; background-color: rgb(211, 90, 147);">Upload Image</button>
          </div>
        </form>
          
          <h2 style="margin-top: 250px; margin-bottom:0px; color: #102f3b;">Developed By: Md Kamrus Samad</h2>
          <h3 style="margin-top: 0px; color: #376f86;">Email: kamrus.samad@northsouth.edu</h3>
        
          </div>
        </div>
        <div class="waveWrapperInner bgMiddle">
          <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
        </div>
        <div class="waveWrapperInner bgBottom">
          <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
        </div>
      </div>

</body>
</html>